@*

*@
@{
}
<div class="row">

    <div class="col-md-12">
        <div class="card card-primary">

            <div class="card-header">
                Fatura Seri Numara Tanımları
            </div>

            <div class="card-body">
                <table class="table table-bordered table-striped table-hover" id="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Fatura Türü</th>
                            <th>Yıl</th>
                            <th>Seri No</th>
                            <th>Son Fatura Numarası</th>
                            <th>Son Fatura Tarihi</th>
                            <th width="50">İşlemler</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="card-footer">

            </div>

        </div>
    </div>

</div>


@section Scripts
{
    <script src="~/js/Datatable/DataTable_GetData.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            GetDataTable();
        });


        var GetDataTable = function () {

            var clmns = [
                { "data": null, visible: false },
                {
                    data: "faturaTuru",
                    render: function (data, type, row) {
                        if (data == '0') return "E-Fatura";
                        if (data == '1') return "E-Arşiv";
                        if (data == '2') return "E-Smm";
                    }
                },
                { "data": "yil" },
                { "data": "seriNo" },    
                { "data": "sonFaturaNo" },
                {
                    data: "sonFaturaTarihi",
                    render: function (data, type, row) {
                        if (data = '01.01.0001 00:00:00') return "";
                        if (type === "sort" || type === "type") {
                            return data;
                        }
                        return moment(data).format("DD.MM.YYYY HH:mm:ss");
                    }
                },
                {
                    data: null,
                    className: "dt-center",
                    targets: -1,
                    orderable: false,
                    render: function (data, type, full, meta) {
                        return '<button class="btn btn-info font-weight-bold btn-pill mr-2  min-w-90px EfaturaPortalApp-datatables-update"  title="Düzenle" data-endpoint="SeriNumaralar/Update" data-id="' + full.id + '">Güncelle</button>';
                    }
                }
            ];

            GetData("SeriNumaralar/GetAll", "SeriNumaralar/Create", "SeriNumaralar/Update", clmns);

        };

        function datatableUpdate() {
            GetDataTable();
        }


    </script>

}