@model EfaturaPortal.Application.Auths.ViewModels.AuthChangePasswordViewModel;
 
<div class="modal fade EfaturaPortalApp-forms-modal" id="crud-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form class="EfaturaPortalApp-forms" id="EfaturaPortalApp-forms" asp-controller="Kullanicilar" asp-action="UpdatePassword" enctype="multipart/form-data" data-ajax-begin="EfaturaPortalAppOnBegin" data-ajax-complete="EfaturaPortalAppOnComplete('crud-modal')" data-ajax-failure="EfaturaPortalAppOnFailure" data-ajax-success="EfaturaPortalAppOnSuccess(data, datatableUpdate)" data-ajax="true" data-ajax-method="POST" data-ajax-url="/Kullanicilar/UpdatePassword">
            @Html.AntiForgeryToken()
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <h5 class="modal-title">Şifre Değiştir <br /><i>@Model.Email</i></h5>
                    <button type="button" class="close OtelApp-forms-modal-close" data-dismiss="modal" aria-label="Vazgeç"></button>
                </div>
                <div class="modal-body">
                    <div class="hidden">
                        <input type="hidden" class="form-control" asp-for="Id">
                    </div>

                    <!--Ünvanı-->



                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="EskiSifre" class="form-control-label">Eski Şifreniz</label>
                                <input asp-for="EskiSifre" class="form-control" placeholder="" type="password" />
                                <span asp-validation-for="EskiSifre" class="text-danger"> </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Sifre" class="form-control-label">Yeni Şifreniz</label>
                                <input asp-for="Sifre" class="form-control" placeholder="" type="password" />
                                <span asp-validation-for="Sifre" class="text-danger"> </span>
                            </div>
                        </div>
                    </div>
 





                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary OtelApp-forms-modal-close" data-dismiss="modal">Vazgeç</button>
                    <button type="submit" id="kaydet" class="btn btn-success">Kaydet</button>
                </div>
            </div>
        </form>
    </div>
</div>
