
@model EfaturaPortal.Application.Faturas.ViewModels.FaturaGetAllQueryViewModel;
@{

    var action = Model == null || Model.Id == Guid.Empty ? "create" : "update";
    //var areaTypeList = typeof(type).EnumToList().Select(x => new { Value = x.Value, Text = x.Description }).OrderBy(x => x.Text).ToList();
}


<div class="row">
    <!--1 Row-->

    <div class="col-lg-6 col-md-12">
        <div class="row">
            <div class="card card-default container-fluid">
                <div class="card-header">
                    <h3 class="card-title">Tarih Ve Seri No Bilgileri</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div> <!-- /.card-header -->

                <div class="card-body" id="loadingCheckTaxNumber">

                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Cariler.VergiNumarasi" class="form-control-label">*Müşteri Vergi No</label>
                            <div class="input-group mb-3">
                                <input asp-for="Cariler.VergiNumarasi" class="form-control" id="Tx_Vdno" placeholder="" />
                                <div class="input-group-append" style="cursor:pointer;" onclick="GetEInvoiceInfo()">
                                    <div class="input-group-text">
                                        <span class="fas fa fa-search"></span>
                                    </div>
                                </div>
                            </div>
                            <span asp-validation-for="Cariler.VergiNumarasi" class="text-danger"> </span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="FaturaTuru" class="form-control-label">Fatura Türü</label>
                            <select disabled asp-for="FaturaTuru" class="form-control seridenapp-forms-select2" id="Sb_FaturaTuru" onchange="GetSeriNumara()" data-placeholder="Kayıt Türünü Seçiniz" asp-items="Html.GetEnumSelectList<EfaturaPortal.Models.Enum.FaturaTuru>()"></select>
                            <span asp-validation-for="FaturaTuru" class="text-danger"> </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Tarih" class="form-control-label">Fatura Tarihi ve Saati</label>
                                <input asp-for="Tarih" type="text" class="form-control seridenapp-forms-select2" id="FaturaTarihi" />
                                <span asp-validation-for="Tarih" class="text-danger"> </span>
                            </div>
                        </div>
                        @*<div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Saat" class="form-control-label">Fatura Tarihi</label>
                                    <input asp-for="Saat" class="form-control seridenapp-forms-select2" />
                                    <span asp-validation-for="Saat" class="text-danger"> </span>
                                </div>
                            </div>*@
                    </div> <!-- /.row - Tarih & Saat -->

                    <div class="row">
                        <div class="col-md-6" id="dv_SeriNumara">
                            <div class="form-group">
                                <label asp-for="SeriNumaralarId" class="form-control-label">Seri No</label>
                                <select asp-for="SeriNumaralarId" class="form-control seridenapp-forms-select2" id="Sb_SeriNumara"></select>
                                <span asp-validation-for="SeriNumaralarId" class="text-danger"> </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="FaturaNumarasi" class="form-control-label">Fatura Numarası</label>
                                <input asp-for="FaturaNumarasi" class="form-control seridenapp-forms-select2" />
                                <span asp-validation-for="FaturaNumarasi" class="text-danger"> </span>
                            </div>
                        </div>
                    </div> <!-- /.row SeriNo & FatNo -->

                </div> <!-- /.card-body -->


            </div><!--Card-->
        </div>
    </div><!--1.col-md-6-->

    <div class="col-lg-5 col-md-12 ml-md-5">
        <div class="row">
            <div class="card card-default container-fluid">
                <div class="card-header">
                    <h3 class="card-title">Fatura Gönderim & Döviz Bilgileri</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div> <!-- /.card-header -->

                <div class="card-body">


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="FaturaTipi" class="form-control-label">Fatura Tipi</label>
                                <select asp-for="FaturaTipi" class="form-control seridenapp-forms-select2" id="Sb_FaturaTipi" data-placeholder="Kayıt Türünü Seçiniz" asp-items="Html.GetEnumSelectList<EfaturaPortal.Models.Enum.FaturaTipi>()"></select>
                                <span asp-validation-for="FaturaTipi" class="text-danger"> </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="FaturaSenaryo" class="form-control-label">Fatura Senaryosu</label>
                                <select asp-for="FaturaSenaryo" class="form-control seridenapp-forms-select2" id="Sb_FaturaSenaryo" data-placeholder="Kayıt Türünü Seçiniz" asp-items="Html.GetEnumSelectList<EfaturaPortal.Models.Enum.FaturaSenaryo>()"></select>
                                <span asp-validation-for="FaturaSenaryo" class="text-danger"> </span>
                            </div>
                        </div>
                    </div> <!-- /.row - Tipi & Senaryo-->

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Doviz" class="form-control-label">Para Birimi</label>
                                <select asp-for="Doviz" onchange="DovizKuruGetir()" class="form-control" data-placeholder="" asp-items="@(new SelectList(Model.DovizKodlari,"DovizKodu","DovizAdi"))" id="Cm_Doviz">
                                </select>
                                <span asp-validation-for="Doviz" class="text-danger"> </span>
                            </div>
                        </div>
                        <div class="col-md-6" id="Dv_DovizKuru">
                            <label asp-for="DovizKuru" class="form-control-label">Doviz Kuru</label>
                            <input asp-for="DovizKuru" class="form-control" id="Tx_DovizKuru" />
                            <span asp-validation-for="DovizKuru" class="text-danger"> </span>
                        </div>
                    </div> <!-- /.row - Tipi & Senaryo-->

                </div> <!-- /.card-body -->

            </div><!--Card-->
        </div>
    </div><!--Col-Md-6-->
</div><!--1-Row-->

<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="row">
            <div class="card card-default container-fluid">
                <div class="card-header">
                    <h3 class="card-title">Müşteri Cari Bilgileri</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div> <!-- /.card-header -->

                <div class="card-body" id="Dv_Cariler">


                    <div class="row">
                        <div class="col-md-12">
                            <label asp-for="Cariler.Unvani" class="form-control-label">Ünvan</label>
                            <div class="input-group mb-3">
                                <input asp-for="Cariler.Unvani" class="form-control" id="Tx_Cari_Unvani" />
                                <span asp-validation-for="Cariler.Unvani" class="text-danger"> </span>
                                <div class="input-group-append" style="cursor:pointer;" onclick="">
                                    <div class="btn btn-primary EfaturaPortalApp-datatables-create" data-endpoint="/YeniFatura/GetCariler" data-id="carisec">
                                        <span class="">Müşteri Seç</span>
                                    </div>
                                </div>
                                <input type="hidden" asp-for="CarilerId" id="Hd_CarilerId" />
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Cariler.EfaturaPostaKutusu" class="form-control-label">Posta Kutusu Seç</label>
                                <select asp-for="Cariler.EfaturaPostaKutusu" class="form-control" data-placeholder="" id="Cm_CariPostaKutusu">
                                </select>
                                <span asp-validation-for="CarilerId" class="text-danger"> </span>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Cariler.VergiNumarasi" class="form-control-label">Vergi Numarası</label>
                                <input asp-for="Cariler.VergiNumarasi" class="form-control" data-placeholder="" id="Tx_Cari_VergiNumarasi" />
                                <span asp-validation-for="Cariler.VergiNumarasi" class="text-danger"> </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Cariler.VergiDairesi" class="form-control-label">Vergi Numarası</label>
                                <input asp-for="Cariler.VergiDairesi" class="form-control" data-placeholder="" id="Tx_Cari_VergiDairesi" />
                                <span asp-validation-for="Cariler.VergiDairesi" class="text-danger"> </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Cariler.Ulke" class="form-control-label">*Ülke</label>
                                <input asp-for="Cariler.Ulke" class="form-control" data-placeholder="" id="Tx_Cari_Ulke" />
                                <span asp-validation-for="Cariler.Ulke" class="text-danger"> </span>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="Cariler.Adres" class="form-control-label">*Adres</label>
                                <input asp-for="Cariler.Adres" class="form-control" data-placeholder="" autocomplete="off" id="Tx_Cari_Adres" />
                                <span asp-validation-for="Cariler.Adres" class="text-danger"> </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Cariler.Email" class="form-control-label">Email</label>
                                <input asp-for="Cariler.Email" class="form-control" data-placeholder="" id="Tx_Cari_Email" />
                                <span asp-validation-for="Cariler.Email" class="text-danger"> </span>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="Cariler.Telefon" class="form-control-label">Telefon</label>
                                <input asp-for="Cariler.Telefon" class="form-control" data-placeholder="" id="Tx_Cari_Telefon" />
                                <span asp-validation-for="Cariler.Telefon" class="text-danger"> </span>
                            </div>
                        </div>
                    </div>



                </div> <!-- /.card-body -->

            </div><!--Card-->
        </div>
    </div>
</div><!--2-Row-->

<div class="row">
    <div class="col-12">
        <table class="table table-striped- table-bordered table-hover table-checkable" id="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>No</th>
                    <th>Açıklama</th>
                    <th>Miktar</th>
                    <th>Ölçü Birimi</th>
                    <th>Birim Fiyat</th>
                    <th>Toplam Fiyat</th>
                    <th>Kdv Oran</th>
                    <th>Kdv Tutar</th>

                </tr>
            </thead>
        </table>
    </div>
</div><!--3-Row-->

@section css
{
    <link href="~/plugins/adminLte/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />

    <style>
        .notiflix-block-position {
            min-height: 0px !important;
        }
    </style>
}

@section Scripts
{
    <script src="~/plugins/adminLte/plugins/inputmask/jquery.inputmask.min.js"></script>
    <script src="~/plugins/adminLte/plugins/daterangepicker/daterangepicker.js"></script>
 @*   <script src="~/js/Datatable/DataTable_GetData.js" asp-append-version="true"></script>*@
    <script>

        var updateTax = false;

        $(function () {

            //Date range picker with time picker
            $('#FaturaTarihi').daterangepicker({
                singleDatePicker: true,
                timePicker: true,
                autoApply: true,
                timePicker24Hour: true,
                timePickerIncrement: 30,
                locale: {
                    format: 'DD.MM.YYYY H:mm',
                    applyLabel: "Uygula",
                    cancelLabel: "İptal",
                    daysOfWeek: [
                        "Pz",
                        "Pts",
                        "Sa",
                        "Çar",
                        "Per",
                        "Cu",
                        "Cts"
                    ],
                    monthNames: [
                        "Ocak",
                        "Şubat",
                        "Mart",
                        "Nisan",
                        "Mayıs",
                        "Haziran",
                        "Temmuz",
                        "Ağustos",
                        "Eylül",
                        "Ekim",
                        "Kasım",
                        "Aralık"
                    ],
                    firstDay: 1
                }
            },
                function (start, end, label) {

                })

        });

        $("#FaturaTarihi").on("apply.daterangepicker", function (ev, picker) {

            DovizKuruGetir();
        });

        $("#Tx_Vdno").focusout(function () {
            if ($("#Tx_Vdno").val() == "") return;

            if (!degisti) return;

            updateTax = false;

            GetEInvoiceInfo();
        });

        $("#Tx_Vdno").on("change", function () {
            updateTax = true;
        });


        function GetEInvoiceInfo() {

            $("#Cm_CariPostaKutusu").empty();
            Notiflix.Block.Standard("#loadingCheckTaxNumber");
            Notiflix.Block.Standard("#Dv_Cariler");

            $("#Tx_Cari_VergiNumarasi").val($("#Tx_Vdno").val());
            $.ajax({
                type: 'get',
                url: 'CheckTaxNumber?TaxNumber=' + $("#Tx_Vdno").val(),
                complete: function () {
                    Notiflix.Block.Remove("*", 0);
                },
                success: function (data) {
                    console.log(data);
                    debugger;
                    if (!data.success) {
                        if (data.errorMessage != null) {
                            Notiflix.Report.Failure('Hata <br> Kodu :' + data.errorCode, data.errorMessage, 'Tamam');
                        } else {
                            $("#Sb_FaturaTuru").val("1");
                            GetSeriNumara();
                            Notiflix.Notify.Warning('E-Arşiv Fatura Kesiyorsunuz !');

                        }
                    } else {
                        $("#Sb_FaturaTuru").val("0");
                        $.each(data.gibUser, function (i, state) {
                            $("#Cm_CariPostaKutusu").append('<option value="' + state.alias + '">' + state.alias + '</option>');
                        });
                        GetSeriNumara();
                        Notiflix.Notify.Warning('E-Fatura Kesiyorsunuz !');

                    }

                    if (data.cari != null) {

                        $("#Tx_Cari_Unvani").val(data.cari.unvani);
                        $("#Tx_Cari_VergiDairesi").val(data.cari.vergiDairesi);
                        $("#Tx_Cari_Ulke").val(data.cari.ulke);
                        $("#Tx_Cari_Adres").val(data.cari.adres);
                        $("#Tx_Cari_Email").val(data.cari.email);
                        $("#Tx_Cari_Telefon").val(data.cari.telefon);
                        // $("#Tx_Cari_").val(data.cari.unvani);


                    } else {
                        $("#Tx_Cari_Unvani").val(data.gibUser.title);
                    }


                }
            });
        }

        $(document).ready(function () {

        });

        function GetSeriNumara() {
            $("#Sb_SeriNumara").empty();
            Notiflix.Block.Standard("#dv_SeriNumara");



            $.ajax({
                type: 'get',
                url: 'GetSeriNumaralar?faturaTuru=' + $("#Sb_FaturaTuru").val(),
                complete: function () {
                    Notiflix.Block.Remove("*", 0);
                },
                success: function (data) {



                    $.each(data, function (i, state) {
                        $("#Sb_SeriNumara").append('<option value="' + state.id + '">' + state.seriNo + '</option>');
                    });

                }
            });
        }

        function DovizKuruGetir() {

            if ($("#Cm_Doviz").val() == "TRY") {
                $("#Tx_DovizKuru").val("1");
                return;
            }

            Notiflix.Block.Standard("#Dv_DovizKuru");

            $.ajax({
                type: 'get',
                url: 'GetDovizKuru?DovizKodu=' + $("#Cm_Doviz").val() + '&' + 'Tarih=' + $("#FaturaTarihi").val(),
                complete: function () {
                    Notiflix.Block.Remove("*", 0);
                },
                success: function (data) {
                    if (data.success) {
                        $("#Tx_DovizKuru").val(data.value);
                    } else {
                        Notiflix.Notify.Failure("Döviz Kuru Alırken Hata -> " + data.message);
                    }
                }
            });

        }
    </script>

}