<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        <i>E Dönüşüm Merkezi.</i>
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2005-2021 <a href="https://www.alzeteknoloji.com">Alze Teknoloji</a>.</strong> Yazılım Ltd. Şti.
</footer>